<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lume Nueglow Plugin Demo</title>
    <link rel='stylesheet' href='./glow.css'>
    <link rel='stylesheet' href='./styles.css'>
    <link rel='stylesheet' href='./themes.css'>
  </head>

  <body>
    <main>
        {{ content
        |> replaceAll("[snippets]", await comp.snippets() )
        |> replaceAll("<code>#8FDFD4</code>", '<span class="mint">⬤</span><code class="mint">#8FDFD4</code>' )
        }}
    </main>
  </body>
</html>
