

<!-- BEGIN SNIPPETS -->

{{ for snippet of snippets }}
<details>
<summary>{{ snippet.title }}</summary>
<pre lang="{{ snippet.lang }}"><code>{{ snippet.code |> escape }}</code></pre>
</details>
{{/for}}

<!-- END SNIPPETS -->
