.themeList pre {
    border-radius: 0;
    margin-block: 0;
}
.mint {
    color: #8fdfd4;
}
p > code {
    font-family: "Red Hat Mono", monospace;
    font-size: 1.1rem;
    background: #111729;
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
}
